.wrap-words {
  white-space: 'normal';
  word-wrap: 'break-word';
  max-width: 300px;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-grid-list {
  min-height: 70px;
  min-width: 60px;
}

th, td {
  min-height: 80px;
  width: auto;
}

.m-10 {
  margin: 40px;
}

table {
  width: 90%;
  margin: 0 auto;
}

.table-centered {
  margin: 0 auto;
}

.min-height-width {
min-width: 100px;
min-height: 100px;
}

.max-height-width {
  max-width: 150px;
  max-height: 150px;
  }
