<!--The content below is only a placeholder and can be replaced.-->
<nav class="m-10-no-bottom">
  <button
  class="m-10-no-bottom"
    mat-raised-button color="primary"
    matBadgePosition="before"
    matBadgeColor="accent"
    routerLink="/list"
    routerLinkActive="active">
  List
  </button>
  <button
    class="m-10-no-bottom"
    mat-raised-button color="primary"
    matBadgePosition="before"
    matBadgeColor="accent"
    routerLink="/add-new"
    routerLinkActive="active">
  + New
  </button>
</nav>
<router-outlet style="margin: 10px;"></router-outlet>
